# Ambientes virtuais Python
venv/
env/
ENV/
.venv/
.env/

# Outras coisas importantes para ignorar em projetos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Variáveis de ambiente
.env
.